Package: com.oskarw.shutupvc
Name: ShutUpVC
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Shut Up Voice Control & Dictation
Maintainer: Oskar Wirga <oskar@wirga.com>
Author: Oskar Wirga
Section: Tweaks
